# This is configuration for tests only .. to edit configuration of real responder, edit web/src/main/resources/toolkit.properties ..

ToolkitConfiguration.PropertiesFileTitle=KohaWeb
Connector.ConfigClass=org.extensiblecatalog.ncip.v2.koha.util.KohaConfiguration
RemoteServiceManager.class=org.extensiblecatalog.ncip.v2.koha.util.KohaRemoteServiceManager

CancelRequestItemService.class=org.extensiblecatalog.ncip.v2.koha.KohaCancelRequestItemService
CreateUserFiscalTransactionService.class=org.extensiblecatalog.ncip.v2.koha.KohaCreateUserFiscalTransactionService
LookupAgencyService.class=org.extensiblecatalog.ncip.v2.koha.KohaLookupAgencyService
LookupItemService.class=org.extensiblecatalog.ncip.v2.koha.KohaLookupItemService
#LookupItemSetService.class=org.extensiblecatalog.ncip.v2.koha.KohaLookupItemSetService
LookupRequestService.class=org.extensiblecatalog.ncip.v2.koha.KohaLookupRequestService
#LookupUserService.class=org.extensiblecatalog.ncip.v2.koha.KohaLookupUserService
RequestItemService.class=org.extensiblecatalog.ncip.v2.koha.KohaRequestItemService
RenewItemService.class=org.extensiblecatalog.ncip.v2.koha.KohaRenewItemService

# NCIP 2_02
#DozerTranslatorConfiguration.MappingFiles=ncipv2_02_mappings.xml
#TranslatorConfiguration.ClassName=org.extensiblecatalog.ncip.v2.binding.ncipv2_02.jaxb.dozer.NCIPv2_02JAXBDozerTranslator
#NCIP2TranslatorConfiguration.SchemaURLsToPackageMap=ncip_v2_02.xsd=org.extensiblecatalog.ncip.v2.binding.ncipv2_02.jaxb.elements
#NCIPServiceValidatorConfiguration.SupportedSchemaURLs=ncip_v2_02.xsd

# ILS
ILSDIvOneOneLookupItemSetService.class=org.extensiblecatalog.ncip.v2.koha.KohaLookupItemSetService
ILSDIvOneOneLookupUserService.class=org.extensiblecatalog.ncip.v2.koha.KohaLookupUserService
DozerTranslatorConfiguration.MappingFiles=ilsdiv1_1_mappings.xml
TranslatorConfiguration.ClassName=org.extensiblecatalog.ncip.v2.binding.ilsdiv1_1.jaxb.dozer.ILSDIv1_1_JAXBDozerTranslator
NCIP2TranslatorConfiguration.SchemaURLsToPackageMap=ncip_v2_02.xsd=org.extensiblecatalog.ncip.v2.binding.ilsdiv1_1.jaxb.elements,ncip_v2_02_ils-di_extensions.xsd=org.extensiblecatalog.ncip.v2.binding.ilsdiv1_1.jaxb.elements
NCIPServiceValidatorConfiguration.SupportedSchemaURLs=ncip_v2_02.xsd,ncip_v2_02_ils-di_extensions.xsd

# To write copies of the NCIP messages (initiation & response) to the log:
TranslatorConfiguration.LogMessages=true

# To turn off schema validation (e.g. for ILS-DI 1.0) add this:
NCIPServiceValidatorConfiguration.ValidateMessagesAgainstSchema=true

# To have the NCIP Toolkit's responder include Java stack traces in the Problem elements it returns
# when an exception occurs.
CoreConfiguration.IncludeStackTracesInProblemResponses=true

# Koha Configuration
AgencyUnstructuredAddress=Smetanova 173, \u010C. T\u0159ebová, 560 02
AgencyTranslatedName=M\u011Bstská knihovna \u010Ceská T\u0159ebová
AgencyId=KOHALIB1

# Set this link to your client's registration site
UserRegistrationLink=http://vufind.katalogknih.cz/MyResearch/Home

AuthDataFormatType=text/plain

# OPACServer must be in format without backslash at the end & does have to include either https:// or http://
IntranetServer=https://serverHostName
IntranetPort=8080

# Set this to true only for testing purposes & only when you know your OPAC is having unsigned certificate 
TrustAllCertificates=false

SVCSuffix=cgi-bin/koha/svc

UseRestApiInsteadOfSvc=true

AdminName=userName
AdminPass=userPassword

CurrencyCode=CZK

# Time in hours needed to transfer item after being requested from specific branch (format is: "BranchCode:Hours, BranchCode:Hours")
TransferBranchTime=DOSP:1, SPBE:48, P:24

# If there is a problem looking up an item from lookup item set, this defines whether to ouput those problems.
IncludeParticularProblemsInLookupItemSet=true

# Default delay in days, which is required to prepare requested item (set to 0 to disable):
MaxItemPreparationTimeDelay=1

# NextItemToken expiration time in seconds
NextItemTokenExpirationTime=900

# Mapping of custom BlockOrTrapTypes depending on input from ILS's svc/ncip CGI
# If you want to include the VALUE to the customized message, put on its place this identifier: %s
# If you want to include a percent character, than you have to escape it with backslash like that: 10\% will result in 10%
locale=cs_CZ
expired=V\u00e1\u0161 \u00fa\u010det vypr\u0161el, prodlu\u017ete si jej pros\u00edm ..
totalfines=M\u00e1te vznikl\u00fd nedoplatek v hodnot\u011B %s. Va\u0161e mo\u017Enosti port\u00e1lu jsou omezeny
debarred=V\u00e1\u0161 \u00fa\u010Det byl postihnut. %s
